[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
faker = "*"
pytest = "7.1.3"
simple-term-menu = "*"
cryptography = "*"
rsa = "*"
cryptograpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
